<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div class="container">
    <form class="form-chgPasswrod" method="POST" action="/email/chgPassword/">
      <h2 class="form-chgPasswrod-heading">비밀번호 변경</h2>
      <p>
        <label for="beforePassword" class="sr-only">이전 비밀번호 :</label>
        <input type="password" id="beforePassword" name="beforePassword" class="form-control" placeholder="Password" required="">
      </p>
      <p>
        <label for="afterPassword" class="sr-only">새로운 비밀번호 :</label>
        <input type="password" id="afterPassword" name="afterPassword" class="form-control" placeholder="Password" required="">
      </p>
      <button class="btn btn-lg btn-primary btn-block" type="submit">변경</button>
    </form>
  </div>
</body>
</html>