<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.emailSender.mapper.EmailSenderMapper">
    <!--email 로 user 정보 조회 -->
    <select id="getUserVOfromEmail" parameterType="String" resultType="MemberVO">
        SELECT *
        FROM MEMBER
        WHERE email = #{email}
    </select>

    <!--id 로 user 정보 조회 -->
    <select id="getUserVOfromId" parameterType="int" resultType="MemberVO">
        SELECT *
        FROM MEMBER
        WHERE id = #{id}
    </select>



    <!--비밀번호 변경 메일 보냈을때 사용자 비밀번호 초기화 -->
    <update id="resetPassword" parameterType="int">
        UPDATE MEMBER
        SET password = 'prodTemp'
        WHERE ID = #{id}
    </update>
</mapper>