<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.demo.member.mapper.MemberMapper">





<mapper namespace="com.example.demo.member.mapper.MemberMapper">

  <!--member 등록 -->
  <insert id="save" parameterType="com.example.demo.member.vo.MemberVO" >
    INSERT INTO MEMBER(EMAIL, PASSWORD, NAME, ROLE, PRIVACY_AGREE, REMOTE_LOGIN_AGREE , CREATE_DATE, MODIFY_DATE)
    VALUES(#{email}, #{password}, #{name}, #{role}, #{privacyAgree}, #{remoteLoginAgree}, now(), now());

    <!--사용자 기록 등록 확인하기 위한 select 문 -->
    <selectKey keyProperty="id" resultType="int" order="AFTER">
      SELECT LAST_INSERT_ID()
    </selectKey>

  </insert>

  <update id="chgPass" parameterType="com.example.demo.member.vo.MemberVO">
    UPDATE MEMBER
    SET PASSWORD = #{chgPassword}
    WHERE email = #{email}

    <selectKey keyProperty="id" resultType="int" order="AFTER">
      SELECT LAST_INSERT_ID()
    </selectKey>
  </update>


</mapper>