<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.member.mapper.MemberMapper">

  <!--member 등록 -->
  <insert id="save" parameterType="com.example.demo.member.vo.MemberVO" >
    INSERT INTO MEMBER(EMAIL, PASSWORD, NAME, ROLE, PRIVACY_AGREE, REMOTE_LOGIN_AGREE , CREATE_DATE, MODIFY_DATE)
    VALUES(#{email}, #{password}, #{name}, #{role}, #{privacyAgree}, #{remoteLoginAgree}, now(), now());

    <!--사용자 기록 등록 확인하기 위한 select 문 -->
    <selectKey keyProperty="id" resultType="int" order="AFTER">
      SELECT LAST_INSERT_ID()
    </selectKey>

  </insert>

  <!--member 비밀번호 변경 -->
  <update id="chgPass" parameterType="MemberVO">
    UPDATE MEMBER
    SET PASSWORD = #{password}
    WHERE email = #{email}

    <selectKey keyProperty="id" resultType="int" order="AFTER">
      SELECT LAST_INSERT_ID()
    </selectKey>
  </update>


  <select id="getProfile" parameterType="ProfileVO" resultType="ProfileVO">
    SELECT * from PROFILE p , PROJECT_ATTENDANT pa where p.ID = pa.PROFILEID and pa.PROJECTID = #{projectId} and p.MEMBER_ID = #{memberId}
  </select>

  <select id="getProfileList" parameterType="ProfileVO" resultType="ProfileVO">
    select * from PROFILE p , PROFILE_TOOL pt, TOOL t  where p.ID  = pt.PROFILEID and pt.TOOLID = t.ID and p.ID in (select pa.PROFILEID from PROJECT_ATTENDANT pa where pa.PROJECTID = #{projectId})
  </select>


  <update id="updateTempProfile" parameterType="ProfileVO">
    UPDATE MEMBER
    SET nickname = #{nickname},
        position = #{position},
        position_level = #{positionLevel},
        status = 'T'
    WHERE member_id = #{id}
  </update>


  <update id="updateProfile" parameterType="ProfileVO">
    UPDATE PROFILE
    SET nickname = #{nickname},
        position = #{position},
        phone_number = #{phoneNumber},
        position_level = #{positionLevel},
        status = 'C'
    WHERE member_id = #{id}
  </update>

  <!--member 등록 -->
  <insert id="insertProfile" parameterType="com.example.demo.member.vo.ProfileVO" >
    INSERT INTO PROD_MAIN.PROFILE(
    member_id
    , nickname
    , position
    , position_level
    , create_date
    )
    VALUES(
    #{memberId}
    , #{nickname}
    , #{position}
    , #{positionLevel}
    , now()
    )

    <!--사용자 기록 등록 확인하기 위한 select 문 -->
    <selectKey keyProperty="id" resultType="int" order="AFTER">
      SELECT LAST_INSERT_ID()
    </selectKey>

  </insert>

</mapper>