<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.tool.mapper.ToolMapper">


  <!-- 툴 리스트 조회 -->
  <select id="getToolList"  resultType="ToolVO">
    SELECT
    id, name, price
    FROM PROD_MAIN.TOOL
    <if test="srchStr != null and !''.equals(srchStr)">
      WHERE
      name = #{srchStr, jdbcType=VARCHAR}
    </if>
  </select>


  <!-- 고수가 있는 툴 -->
  <select id="getToolListWithMaster"  resultType="ToolVO">
    select a.id,
    c.MEMBER_ID,
    c.ID profileid,
    c.NICKNAME
    from PROD_MAIN.TOOL a,
    PROD_MAIN.PROFILE_TOOL b,
    PROD_MAIN.PROFILE c,
    PROD_MAIN.PROJECT_ATTENDANT d
    where a.ID = b.TOOLID
    and b.PROFILEID  = c.ID
    and c.ID = d.PROFILEID
    and d.PROJECTID = #{projectid, jdbcType=VARCHAR}
    and d.STATUS  = 'Y'
    and b.`level` = 5 -- 변경예정  임의로 값 줬음.
  </select>

  <!-- 모든 멤버가 사용해본 -->
  <select id="getToolListWithAll"  resultType="ToolVO">
    select ID, NAME
    from
      (select count(*) cnt1 from PROD_MAIN.PROJECT_ATTENDANT where PROJECTID = 1) aa,
      (select count(*) cnt2 , a.ID , a.NAME
       from PROD_MAIN.TOOL a,
            PROD_MAIN.PROFILE_TOOL b,
            PROD_MAIN.PROFILE c,
            PROD_MAIN.PROJECT_ATTENDANT d
       where a.ID = b.TOOLID
         and b.PROFILEID  = c.ID
         and c.ID = d.PROFILEID
         and d.PROJECTID = #{projectid, jdbcType=VARCHAR}
         and d.STATUS  = 'Y'
         and b.`level` is not NULL
       GROUP BY a.ID) bb
    where aa.cnt1 = bb.cnt2
  </select>

  <!-- 가장 익숙한 -->
  <select id="getToolListWithUsed"  resultType="ToolVO">
    select ID, NAME
    from
      (select count(*) cnt1 from PROD_MAIN.PROJECT_ATTENDANT where PROJECTID = 1) aa,
      (select count(*) cnt2 , a.ID , a.NAME
       from PROD_MAIN.TOOL a,
            PROD_MAIN.PROFILE_TOOL b,
            PROD_MAIN.PROFILE c,
            PROD_MAIN.PROJECT_ATTENDANT d
       where a.ID = b.TOOLID
         and b.PROFILEID  = c.ID
         and c.ID = d.PROFILEID
         and d.PROJECTID = #{projectid, jdbcType=VARCHAR}
         and d.STATUS  = 'Y'
         and b.`level` > 3
       GROUP BY a.ID) bb
      <![CDATA[
          where aa.cnt1/2 < bb.cnt2
      ]]>
  </select>

  <!-- 무료인 -->
  <select id="getToolListWithFree"  resultType="ToolVO">
    select * from PROD_MAIN.TOOL where price is null
  </select>



</mapper>